#root {
    background-color: #494d5f;
    /* background: linear-gradient(0deg, #494d5f 0%,#000000 130%); */
    min-height: 100vh;
    font-size: calc(10px + 1vmin);
    text-align: center;
    --pixel-size: 2;
    padding-bottom: 50px;
}

.home { 
    color: white;
    font-size: 30px;
}

.git, .reddit {
    color: white;
}

footer p {
    color: #8B8B8B;
    margin: 0;
    font-size: 15px;
}

footer a {
    color: #a0d2eb;
}

.reddit h1 {
    font-size: 25px;
    color: #d4d4dc;
}

.repoList {
    background-color: #6e7285;
    border-radius: 10px;
    max-width: 100vh;
    padding: 5px;
    margin: 20px;
    font-family: "Lucida Console", Courier, monospace;
    position: relative;
    z-index: 1;
}

.repoList ul {
    text-align: left;
    list-style-type: none;
    padding-top: 10px;
    color: #282c34;
}

.repoName {
    font-size: 25px;
    color: #d4d4dc;
}

.repoDesc {
    padding-left: 10px;
}

.repoUrl {
    color: #a0d2eb;
    padding-left: 10px;
    font-size: 15px;
}

.readMe {
    font-size: 17px;
    color: #a0d2eb;
    padding-right: 15px;
    margin-bottom: -10px;
    text-align: right;
}

.readMe_right-align {
    display: inline-block;
    cursor: pointer;
}

.repoUrl:hover, .readMe_right-align:hover {
    color: #d4d4dc;
}

.readMeExpandable {
    background: #d4d4dc;
    color: #282c34;
    border-radius: 10px;
    margin-left: 25vh;
    text-align: left;
    padding: 25px;
    transform-origin: 70vh -100px;
    animation: readMeSlide .3s;
}

.readMeExpandableClose {
    background: #d4d4dc;
    color: #282c34;
    border-radius: 10px;
    margin-left: 25vh;
    text-align: left;
    padding: 25px;
    transform-origin: 70vh -100px;
    animation: readMeSlideClose .5s;
}

.btn {
    border-color: #a0d2eb;
    background-color: #a0d2eb;
    color: #282c34;
}
.btn:hover {
    background-color: #9052bc;
    border-color: #9052bc;
    color: #FFF;
}
.btn:focus {
    box-shadow: none;
}
.btn:active {
    animation: btnFeedback 0.1s;
}

.joey {
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
    overflow: hidden;
    margin-left: -100px;
    margin-top: -75px;
    position: absolute;
}

.pixelart {
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: pixelated; /* Chrome */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}

.joey_run_spritesheet {
    animation: moveSpritesheet 500ms steps(4) infinite;
    width: calc(256px * var(--pixel-size));
}

.joey_idle_spritesheet {
    animation: moveSpritesheetPause 4s steps(4) infinite;
    width: calc(256px * var(--pixel-size));
}

.redditImg{ 
    max-height: 100vh;
}

@keyframes btnFeedback {
    50% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes moveSpritesheet {
    100% {
        transform: translate3d(-100%,0,0);
    }
}

@keyframes moveSpritesheetPause { /* for blinking animation */
    95% {
        transform: translate3d(0px,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }  
}

@keyframes readMeSlide {
    0% {
        transform: scale(0);
    }
    100% {
        transform: translate3d(0,-100px,0);
        transform: scale(1);
    }
}

@keyframes readMeSlideClose {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
        transform: translate3d(0,-100px,0);
    }
}
