
code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#root {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 1vmin);
    text-align: center;
}

.home { 
    color: white;
    font-size: 30px;
}

.git, .reddit {
    color: white;
}

footer p {
    color: #8B8B8B;
    margin: 0;
}

.foot {
    font-size:15px;
}

.pageDesc {
    color: #8B8B8B;
    font-family: Verdana
}

.reddit h1 {
    font-size: 25px;
}

.repoList {
    background-color: #5E6272;
    border-radius: 10px;
    max-width: 100vh;
    padding: 5px;
    margin: 20px;
    font-family: "Lucida Console", Courier, monospace;
}

.repoList ul {
    text-align: left;
    list-style-type: none;
    padding-top: 10px;
}

.repoName {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.repoDesc {
    color: #282c34;
    padding-left: 10px;
}

.repoUrl {
    color: #12458E;
    padding-left: 10px;
}

.readMe {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: -10px;
    font-size: 15px;
    color: #282c34;
}