#root {
    background-color: #494d5f;
    /* background: linear-gradient(0deg, #494d5f 0%,#000000 130%); */
    min-height: 100vh;
    font-size: calc(10px + 1vmin);
    text-align: center;
    --pixel-size: 2;
}

.home { 
    color: white;
    font-size: 30px;
}

.git, .reddit {
    color: white;
}

footer p {
    color: #8B8B8B;
    margin: 0;
}

.foot {
    font-size:15px;
}

.pageDesc {
    color: #8B8B8B;
    font-family: Verdana
}

.reddit h1 {
    font-size: 25px;
}

.repoList {
    background-color: #6e7285;
    border-radius: 10px;
    max-width: 100vh;
    padding: 5px;
    margin: 20px;
    font-family: "Lucida Console", Courier, monospace;
}

.repoList ul {
    text-align: left;
    list-style-type: none;
    padding-top: 10px;
    color: #282c34;
}

.repoName {
    font-size: 25px;
    color: #d4d4dc;
}

.repoDesc {
    padding-left: 10px;
}

.repoUrl {
    color: #a0d2eb;
    padding-left: 10px;
    font-size: 15px;
}

.readMe {
    font-size: 17px;
    color: #a0d2eb;
    padding-right: 15px;
    margin-bottom: -10px;
    cursor: pointer;
}

.readMeExpandable {
    background: #d4d4dc;
    color: #000;
    border-radius: 10px;
    margin-left: 25vh;
    text-align: left;
    padding: 25px;
}

.urlP {
    text-align: right;
}

.btn {
    border-color: #a0d2eb;
    background-color: #a0d2eb;
    color: #282c34;
}

.gitLoading {
    color: #FFF;
}

.joey {
    width: calc(64px * var(--pixel-size));
    height: calc(64px * var(--pixel-size));
    overflow: hidden;
    margin-left: 275px;
    margin-top: -65px;
    position: absolute;
}

.pixelart {
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: pixelated; /* Chrome */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}

.joey_run_spritesheet {
    animation: moveSpritesheet 500ms steps(4) infinite;
    width: calc(256px * var(--pixel-size));
}

.joey_idle_spritesheet {
    animation: moveSpritesheetPause 4s steps(4) infinite;
    width: calc(256px * var(--pixel-size));
}

@keyframes moveSpritesheet {
    100% {
        transform: translate3d(-100%,0,0);
    }
}

@keyframes moveSpritesheetPause { /* for blinking animation */
    95% {
        transform: translate3d(0px,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }  
}

.joey_run2 {
    top: -100px;
}
